 table,th, td {
    /*border: 1px solid rgb(0, 0, 0);*/
    border-collapse: collapse;
}
ul, ul ,li {
    margin: 0; padding: 0; list-style: none; 

 }

 h1, h2, h3, p ,a {
  margin: 0;
  padding: 0;
  text-decoration:none;
}
form{
  margin: 0;
  padding: 2px;
}
 body{
     border: 0;
     margin: 0;
     font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
 }
 img{
  display:block;
  margin:auto;
  }
  
      .contenedor {
     
        width: 100%;
        height: 3200px;
        background-color: rgb(249, 249, 249);
      } 
      .contenedor2 {
     
        width: 100%;
        height: 700px;
        background-color: rgb(255, 255, 255);
      }
      .header{
          height: 50px;
          width: 1365px;
          color:   rgb(93, 91, 91);
      background-color:  rgb(93, 91, 91);
          position: fixed;
       }

       ul{
        list-style: none;
      }
      #menu li>a{
        background-color: rgb(93, 91, 91);
        color: white;
        padding: 10px;
        display: block;
        text-decoration: none;
        min-width: 100px;
      }
      #menu li>a:hover{
        color: #000;
        background-color: #eaeaea;
      }
      #menu>li{
        float: left;
        text-align:center
      }
      #menu>li>ul{
        display: none;
      }
      #menu>li:hover>ul {
        display:block;
      }
      #menu{
        margin-left:630px;
        margin-top:-37px;
      }
      /*--------------*/

        .menu-lateral{
          height: 750px;
          width: 220px;
          background-color: rgb(27, 151, 160);
          position: fixed;
          color: white;
        
        }
        .fiel{
          margin-top:5%;
          position: relative;
          margin-left:25%;
          width: 30%;
        }
        .lista-menu-1{
       
        padding-left: 10px;
        font-family: Karla,sans-serif;

        }
        .logo{
          height: 50px;
          padding-bottom: 20px;
          margin-top:5px;
          margin-left:-1300px;
       
        }

        .logo2{
          height: 50px;
          padding-bottom: 20px;
          padding-top: 80px;
          margin-left: -150px;
        }
              
       .name{
         margin-left: 100px;
         margin-top: -60px;
         font-size: 20px;
       }
       .name2{
         color:#ffffff;
        margin-left: 20px;
        margin-top: -35px;
        font-size: 20px;
      }
      .name3{
        color:rgb(228, 128, 35);
        margin-left: 320px;
        padding-top: 70px;
        font-size: 50px;
      }
       .random{
        width: 1350px;
        height: 500px;
        background-color: rgb(35, 213, 91);
        margin-bottom:20px;
       }
      .inimg1{
        margin-top:-420px;
        margin-left:-1000px;
      }
      .titulo1{
        margin-top:-190px;
        padding-left:330px;
        font-size:20px;
        color:#ffffff;
        margin-bottom: 30px;
      }
      .descripcion1{
        color:#ffffff;
        font-size:23px;
        margin-left:350px;
        margin-bottom:15px;
      }
      .ver{
        height: 35px;
        width: 120px;
        background-color: rgb(218, 26, 26);
        color:#ffffff;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 9px;
        margin-left:350px;
      }
      .ver2{
        height: 35px;
        width: 120px;
        background-color: rgb(218, 26, 26);
        color:#ffffff;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 9px;
        margin-left:20px;
      }
      .ver:hover{
        color:  #ffffff;
        background-color: #00ff99;
      }
      .ver2:hover{
        color:  #ffffff;
        background-color: #0091ff;
      }
      /*CODIGO DE DIV DE CADA SECCION DE LA PAGINA*/
      .slider2{
        padding-top:25px;
        margin-left:49px;
        height: 380px;
        width: 1250px;
      
      }
      .movie-estreno{
        height: 650px;
        width:1249px;
        
      }
         /* FIN DEL  CODIGO DE DIV DE CADA SECCION DE LA PAGINA*/
      .estrenos{
        font-size:23px;
        margin-top:-35px;
        margin-bottom:25px;
      }
      .recientes2{
        font-size:19px;
        margin-top:-35px;
        margin-bottom:25px;
      }
      .imgnom1{
        margin-left:25px;
        
      }
      .nompeli{
        margin-left:70px;
        font-size: 15px;
      }
   
      .imgnom2{
        margin-left:15px;
      }
      .nompeli2{
        margin-left:55px;
        font-size: 15px;
      }
      
      .imgnom3{
        margin-left:15px;
      }
      .nompeli3{
        margin-left:15px;
        font-size: 15px;
      }

      .imgnom4{
        margin-left:15px;
      }
      .nompeli4{
        margin-left:110px;
        font-size: 15px;
      }
      .imgnom5{
        margin-left:15px;
      }
      .nompeli5{
        margin-left:40px;
        font-size: 15px;
      }
      .tab{
        margin-left:34px;
      }
      .tab2{
        margin-left:1px;
      }
      .recientes{
        margin-left:45px;
        font-size: 20px;
      }
      /*codigo de seccion de la muchas peliculas*/
      .view1{
        margin-left:35px;
      }
      .nomview1{
        font-size:13px;
        margin-left:35px;
      }
      .view2{
        margin-left:35px;
      }
      .nomview2{
        font-size:13px;
        margin-left:105px;
      }
      .view3{
        margin-left:45px;
      }
      .nomview3{
        font-size:13px;
        margin-left:85px;
      }
      .view4{
        margin-left:43px;
      }
      .nomview4{
        font-size:13px;
        margin-left:85px;
      }
      .view5{
        margin-left:35px;
      }
      .nomview5{
        font-size:13px;
        margin-left:55px;
      }
      .view6{
        margin-left:39px;
      }
      .nomview6{
        font-size:13px;
        margin-left:55px;
      }
      /*FIN DE LA PRIMER PARTE DE LA TABLA*/
      /*INICIO DE LA SEGUNDA PARTE DE LA TABLA*/
      .view7{
        margin-left:35px;
      }
      .nomview7{
        font-size:13px;
        margin-left:60px;
      }
      .view8{
        margin-left:35px;
      }
      .nomview8{
        font-size:13px;
        padding-left:50px;
      }
      .view9{
        margin-left:43px;
      }
      .nomview9{
        font-size:13px;
        padding-left:110px;
      }
      .view10{
        margin-left:45px;
      }
      .nomview10{
        font-size:13px;
        padding-left:100px;
      }
      .view11{
        margin-left:39px;
      }
      .nomview11{
        font-size:13px;
        padding-left:70px;
      }
      .view12{
        margin-left:39px;
      }
      .nomview12{
        font-size:13px;
        padding-left:40px;
      }
      .view13{
        margin-left:39px;
      }
      .nomview13{
        font-size:13px;
        padding-left:90px;
      }
      .view14{
        margin-left:39px;
      }
      .nomview14{
        font-size:13px;
        padding-left:60px;
      }
      .view15{
        margin-left:39px;
      }
      .nomview15{
        font-size:13px;
        padding-left:80px;
      }
      .view16{
        margin-left:43px;
      }
      .nomview16{
        font-size:13px;
        padding-left:95px;
      }
      .view17{
        margin-left:39px;
      }
      .nomview17{
        font-size:13px;
        padding-left:95px;
      }
      .view18{
        margin-left:39px;
      }
      .nomview18{
        font-size:13px;
        padding-left:70px;
      }
      .view19{
        margin-left:44px;
      }
      .nomview19{
        font-size:13px;
        padding-left:70px;
      }
      .view20{
        margin-left:39px;
      }
      .nomview20{
        font-size:13px;
        padding-left:70px;
      }
      .view21{
        margin-left:39px;
      }
      .nomview21{
        font-size:13px;
        padding-left:70px;
      }
      .view22{
        margin-left:39px;
      }
      .nomview22{
        font-size:13px;
        padding-left:70px;
      }
      .view23{
        margin-left:39px;
      }
      .nomview23{
        font-size:13px;
        padding-left:70px;
      }
      .view24{
        margin-left:39px;
      }
      .nomview24{
        font-size:13px;
        padding-left:80px;
      }
      .view25{
        margin-left:44px;
      }
      .nomview25{
        font-size:13px;
        padding-left:80px;
      }
      .view26{
        margin-left:39px;
      }
      .nomview26{
        font-size:13px;
        padding-left:80px;
      }
      .view27{
        margin-left:39px;
      }
      .nomview27{
        font-size:13px;
        padding-left:80px;
      }
      .view28{
        margin-left:39px;
      }
      .nomview28{
        font-size:13px;
        padding-left:55px;
      }
      .view29{
        margin-left:39px;
      }
      .nomview29{
        font-size:13px;
        padding-left:50px;
      }
      .view30{
        margin-left:39px;
      }
      .nomview30{
        font-size:13px;
        padding-left:51px;
      }
      .view31{
        margin-left:39px;
      }
      .nomview31{
        font-size:13px;
        padding-left:80px;
      }
      .view32{
        margin-left:44px;
      }
      .nomview32{
        font-size:13px;
        padding-left:80px;
      }
      .view33{
        margin-left:39px;
      }
      .nomview33{
        font-size:13px;
        padding-left:80px;
      }
      .view34{
        margin-left:39px;
      }
      .nomview34{
        font-size:13px;
        padding-left:80px;
      }
      .view35{
        margin-left:39px;
      }
      .nomview35{
        font-size:13px;
        padding-left:108px;
      }
      .view36{
        margin-left:39px;
      }
      .nomview36{
        font-size:13px;
        padding-left:85px;
      }
      .cuadro{
      height :70px;
      width: 1350px;
     background-color:rgb(242, 73, 73);
      }
      .descp{
        margin-left:15px;
       font-size:18px;
       position: center;
        }
/*CODIFO DEL SCRIPT DE INICIAR SESION*/
        .ventana{
            background-color: rgb(242, 73, 73);
            height: 250px;
            width:300px;
            color:#ffffff;
            Font-family: Helvetica, sans-serif;
            Font-size:18px;
            text-align:center;
            padding:33px;
            min-height:250px;
            border-radius:7px;
            margin-left:80px;
            margin-top:35px;
            display:none;
        }
        .tin{
          Font-size:18px;

        }
        .tnom{
          Font-size:14px;
          margin-left:5px;
        }
        .tpass{
          margin-left:15px;
        }
        /*------------------------------------

        *{
          margin:0;
          padding:0;
          box-sizing:border-box;
          font-family: sans-serif;
        }
        body{
          background:url("fondo.jpg");
          background-size: 100vw 100vh;
        }
        body, .modal{
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content:center;
          align-items:center;
        }
        .modal{
          position: fixed;
          top: 0;
          left: 0;
          background: rgba(0,0,0,0.5);
          transition:all 500ms ease;
        }

        .ventana{
          width: 400px;
          height: 300px;
          margin:auto;
          background: #ffffff;
          box-shadow:1 px 7px 25px rgba(0,0,0,0.6);
          transition:all 500ms ease;
        }
        .ventana label{
          position: absolute;
          top: 10px;
          right:10px;
          color:#fff;
        }
*/
.soul{
height: 250px;
width:150px;
background:aqua;
opacity:1;
position: relative;


}
/*---------------------------------------CODIGO DE LA VENTANA DE LOGIN-------------------------------------------*/

.contenerdorlogin{
  width: 100%;
  height: 900px;
  background-color: rgb(249, 249, 249);

}
.ContentForm{
  height: 300px;
  width:205px;
  background-color:rgb(150,46,90);
  margin-left:570px;
  margin-top:-440px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
}
.titulo1{
  font-size: 15px;
  color:white;
  margin-left:8px;
}
.titulo2{
  font-size: 15px;
  color:white;
  margin-left:7px;
}
.form-control{
    height:15px;
    margin-top:-20px;
}

.form-control2{
  height:15px;
  margin-top:-20px;
}

.etq{
  text-align: center;
  color:white;
  font-size:30px;
}

.btn-in{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  background-color:rgb(150,46,90);
  color:white;
  font-size:15px;
  margin-left:65px;
}
.btn-in:hover{
  background-color: rgb(40, 89, 91);
}

.btn-sa{
  margin-top:20px;
  margin-left:20px;
}



.header2{
  height: 50px;
  width: 1365px;
  color: rgb(93, 91, 91);
  background-color:  rgb(93, 91, 91);
  position: fixed;
  margin-top:-680px;
}

.fonfp{
  opacity:0.7;
filter:alpha(opacity=40);
}
/*-------------------------------------------------------------------------------------------*/

.header3{
  height: 50px;
  width: 1365px;
  color: rgb(93, 91, 91);
  background-color:  rgb(93, 91, 91);
  position: fixed;
  margin-top:-680px;
}

.ContentForm3{
  height: 487px;
  width:330px;
  background-color:rgb(150,46,90);
  margin-left:500px;
  margin-top:-570px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
}

.titulo1{
  font-size: 15px;
  color:white;
  margin-left:8px;
}
.titulo2{
  font-size: 15px;
  color:white;
  margin-left:7px;
}
.form-control3{
    height:15px;
    margin-top:-20px;
}
.form-control4{
  height:15px;
  margin-left:10px;
  margin-top:-20px;
}
.form-control5{
  height:15px;
  margin-left:5px;
  margin-top:-20px;
}
.form-control6{
  height:15px;
   margin-left:31px;
  margin-top:-20px;
}
.form-control7{
  height:15px;
  margin-left:10px;
  margin-top:-20px;
}
.form-control8{
  height:15px;
  margin-left:23px;
  margin-top:-20px;
}
.form-control9{
  height:15px;
  margin-top:-20px;
  margin-left:10px;
}
.etq2{
  text-align: center;
  color:white;
  font-size:30px;
  margin-left:100px;
}

.btn-in2{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  background-color:rgb(150,46,90);
  color:white;
  font-size:15px;
  margin-left:95px;
}
.btn-in2:hover{
  background-color: rgb(40, 89, 91);
}



/*------------------------------------------------*/

.vencategoria{
  padding-top:50px;
  margin-left: 350px;
}
/*-----------------------------------------------------------------*/
/*
.contenedormodal{
    background-color :rgb(49, 109, 103);
    font-family:sans-serif;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top:10em;
    position: relative;
    text-align: center;
}

.timodal{
  color:white;
  padding:1em;
}

#show-modal{
text-align:center;
background: #bc651a;
padding: 15px 15px;
color: white;
font-weight:500;
font-size:1.5em;
border-radius:3.5px;
text-decoration:none;
transition: all 0.15s linear;
}

#show-modal:hover{
cursor:pointer;
background:#e8c00d;
}
.modal{
  position: fixed;
  top: -100vh;
  left:0;
  z-index: 9999999;
  background: rgb(0, 0,0,0.75);
  width: 100vw;
  height: 100vw;
  opacity: 0;
  transition:opacity 0.35s ease;
}
.modal .content-modal{
  width:100%;
  max-width:500px;
  position: fixed;
  left:50%;
  top:-100vh;
  transition:  top 0.35s ease;
  margin-left: -250px;
  background: white;
  box-shadow: 0 1px 2px rgb(0,0,0,0.1);
  border-radius: 2px;
  z-index:  9999999;
}

.modal h2{
  padding:0.5em;
  text-align:center;
  color:#444444;
  margin:0;
}

.modal article{
  height: 350px;
  background: #bc651a;
}

.close-modal{
color:#e74c3c;
position:absolute;
top:0.2em;
right: 0.375em;
margin:0;
padding: 5px;
font-weight: bold;
font-size:3.5em;
text-decoration:none;
}



.modal:target{
opacity: 1;
top:0;
}
.modal .btn-close-modal{
  position:absolute;
  left:0;
  width:100%;
  height: 100%;
  z-index:99999991;
}

.modal:target .content-modal{
  top:50px;
  transition: top 0.35s ease;
}

@media(max-width:796px){
  .modal .content-modal{
    width:90%;
    max-width:none;
    left:5%;
    margin-left:0;
  }

}
*/

body .modal{
  width:197vh;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}
.modal {
  position: fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-modal:checked ~.modal{
  opacity: 1;
  visibility: visible;
}
.contenedor{
  width:400px;
  height: 300px;
  margin:auto;
  background: #fff;
  box-shadow: 1px  7px 25px rgba(0,0,0,0.5);
  transition: all 500ms ease;

}
.contenedor header{
  padding:10px;
  background:#db8046;
  color:#fff;
}

.contenedor label{
  position:absolute;
  top:10px;
  right: 10px;
  color:#fff;
  font-size: 15px;
  cursor: pointer;
}
.lbl-modal{
  display: none;
}
.lbl-modal{
  background: #fff;
  padding: 10px 15px;
  border-radius: 1px;
  cursor: pointer;
}
